<h1>Welcome!</h1>
<p>
  This is the documentation for Rosalia Nightsong. A live version can be found
  in our
  <a href="http://chat.nhcarrigan.com" target="_blank" rel="noopener noreferrer"
    >Discord Server</a
  >
  Here you will find instructions for setting up a local version of Rosalia,
  contributing to her development, adding her to your Discord server, and using
  her commands.
</p>
<p>
  Rosalia is a Discord bot designed for running special events. The code is
  designed to be modular, so events can be disabled/enabled through a single
  environment variable change.
</p>
<p>
  As she is always considered a work in progress, these documents will be
  updated alongside new versions of her code. Should there be a discrepancy
  between the two, feel free to let us know with an issue request on GitHub!
</p>
<p>
  You may navigate to the different sections of this documentation using the
  sidebar on the left, or through the buttons at the bottom of each page. If you
  are on mobile, the sidebar will be hidden to allow for sufficient reading
  space for the page content.
</p>
<a class="page-btn" routerLink="/local">Next Page</a>
