<h1>Troubleshooting</h1>

<h2>Rosalia won't connect!</h2>
<p>
  Make sure you have properly set up the <code>.env</code> file to contain a
  <code>DISCORD_TOKEN</code> variable set to your bot application's token.
</p>
<h2>I can't get Rosalia in my server</h2>
<p>
  Make sure you are generating the invite link correctly, and that you have
  "Manage Server" permissions for the server you are trying to add Rosalia to.
</p>
<h2>Rosalia isn't responding to a command!</h2>
<p>
  Make sure Rosalia has the appropriate permissions in the server. To verify if
  a permission error exists, try granting her the Administrator permission.
  If the command starts working, then your permissions are mis-configured.
</p>
<h2>Other Issues?</h2>
<p>
  If you are having another issue, you can create a
  <a
    href="https://github.com/nhcarrigan/Rosalia-Nightsong"
    target="_blank"
    rel="noopener noreferrer"
    >bug report</a
  >
  or
  <a href="http://chat.nhcarrigan.com" target="_blank" rel="noopener noreferrer"
    >in our Discord server</a
  >.
</p>
<a class="page-btn" routerLink="/contribute">Prev Page</a>
<a class="page-btn" routerLink="/privacy">Next Page</a>
